<div th:replace="admin/header"></div>
<!--
you can use th:replace or th:insert
th:replace is used to replace the current tag (in this code is the div) with the fragment
 (html code) from the admin/header template
th:insert will insert the fragment inside the current tag

th:replace (or insert) = "html template path" will get the entire html code in the file
or
th:replace (or insert) = "html template path :: fragment name" will get the
 fragment with the provided name
-->

<div th:replace="admin/navbar"></div>

<div class="container">
    <div class="row">
        <h1>List Posts</h1>
    </div>
    <table class="table table-striped table-hover table-bordered">
        <thead class="table-dark">
        <th style="width: 10%">No.</th>
        <th style="width: 10%">Post Title</th>
        <th style="width: 30%">Post Short Desc</th>
        <th style="width: 20%">Post Created On</th>
        <th style="width: 20%">Actions</th>
        </thead>
        <tbody>
        <tr th:each="post, postStatus: ${posts}">
            <td th:text="${postStatus.count}">counter</td>
            <td th:text="${post.title}">title</td>
            <td th:text="${post.shortDesc}">shortDesc</td>
            <td th:text="${post.createdOn}">createdOn</td>
            <td>
                <a th:href="@{/admin/posts/{postId}/edit(postId=${post.id})}"
                   class="btn btn-primary">Edit</a>
            </td> <!--here will be the actions edit/delete buttons-->
        </tr>
        </tbody>
    </table>
</div>

<div th:replace="admin/footer"></div>
